{% extends "layout/base.html" %}

{% block title %}
    Crear Nuevo Libro
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">Crear Nuevo Libro</h1>
            <p class="lead">Completa el formulario para añadir un nuevo ítem al catálogo (Req. 2.2).</p>
            <hr>

            <form method="POST">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <hr>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'gestion' %}" class="btn btn-secondary me-md-2">
                        Cancelar
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Guardar Libro
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}